<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.ultraq.net.nz/thymeleaf/layout http://www.thymeleaf.org/extras/spring-security"
      th:with="pageHeader=#{title.notifications.log},
      appName=${@environment.getProperty('spring.application.name')},
      pageTitle=${(appName!=null ? appName + ' - ' : '') + pageHeader},
      listSearchCriterias=${notificationListSearchCriterias},
      idsPrefix='adminNotificationsList',
      mainLink='/admin/logs/notifications',
      colPrefix='t-col-notification',
      messagePrefix = 'notification.'
      ">
<head>
  <th:block th:replace="fragments/header :: commonHead"></th:block>
  <!-- other elements you want to reference in your layout -->
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="fragments/header :: commonHeader"></div>
<div class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 gy-3">
        <h1 class="h3" th:text="${pageHeader}"></h1>
      </div>
      <div th:replace="fragments/header :: messageBlock"></div>
    </div>
    <div class="row">
      <div th:class="(${listInSearch} ? 'col-sm-2' : 'col-sm-10') + ' col-6 order-1 text-start gy-3'">
        <!-- Just empty block-->
      </div>
      <div class="filter-criterias col-sm-8 order-sm-2 order-3 col-12 text-center gy-3" th:if="${listInSearch}">
        <!-- Filter message start -->
        <div th:replace="fragments/list :: filter-message"></div>
        <!-- Filter message stop -->
      </div>
      <div class="col-sm-2 col-6 order-sm-3 order-2 text-end gy-3" th:if="${listSearchCriterias}">
        <!-- Modal filter start -->
        <div th:replace="fragments/list :: filter-button"></div>
        <!-- Modal filter stop -->
      </div>
    </div>
    <!-- Just table start -->
    <div class="row">
      <div class="col gy-0 text-center">
        <div th:id="${idsPrefix} + 'Wrapper'" class="table-responsive">
          <table class="table table-striped align-middle">
            <thead>
              <tr>
                <th th:with="curColumn='id'" th:class="${colPrefix} + ${curColumn} + ' fit-content'"><span th:text="#{${messagePrefix} + ${curColumn}}"></span></th>
                <th th:with="curColumn='user'" th:class="${colPrefix} + ${curColumn}"><a th:href="@{${mainLink}(sort=${curColumn}, direction=(${sortBy}==${curColumn} ? (${sortDir}=='ASC' ? 'DESC' : 'ASC') : 'ASC'))}"><span th:text="#{${messagePrefix} + ${curColumn}}"></span><i th:class="(${sortBy}==${curColumn}) ? 'bi ' + (${sortDir}=='DESC' ? 'bi-sort-up' : 'bi-sort-down') + ' ms-2' : 'hidden'"></i></a></th>
                <th th:with="curColumn='notificationType'" th:class="${colPrefix} + ${curColumn}"><a th:href="@{${mainLink}(sort=${curColumn}, direction=(${sortBy}==${curColumn} ? (${sortDir}=='ASC' ? 'DESC' : 'ASC') : 'ASC'))}"><span th:text="#{${messagePrefix} + ${curColumn}}"></span><i th:class="(${sortBy}==${curColumn}) ? 'bi ' + (${sortDir}=='DESC' ? 'bi-sort-up' : 'bi-sort-down') + ' ms-2' : 'hidden'"></i></a></th>
                <th th:with="curColumn='status'" th:class="${colPrefix} + ${curColumn}"><a th:href="@{${mainLink}(sort=${curColumn}, direction=(${sortBy}==${curColumn} ? (${sortDir}=='ASC' ? 'DESC' : 'ASC') : 'ASC'))}"><span th:text="#{${messagePrefix} + ${curColumn}}"></span><i th:class="(${sortBy}==${curColumn}) ? 'bi ' + (${sortDir}=='DESC' ? 'bi-sort-up' : 'bi-sort-down') + ' ms-2' : 'hidden'"></i></a></th>
                <th th:with="curColumn='dateTime'" th:class="${colPrefix} + ${curColumn}"><a th:href="@{${mainLink}(sort=${curColumn}, direction=(${sortBy}==${curColumn} ? (${sortDir}=='ASC' ? 'DESC' : 'ASC') : 'ASC'))}"><span th:text="#{${messagePrefix} + ${curColumn}}"></span><i th:class="(${sortBy}==${curColumn}) ? 'bi ' + (${sortDir}=='DESC' ? 'bi-sort-up' : 'bi-sort-down') + ' ms-2' : 'hidden'"></i></a></th>
                <th th:with="curColumn='subject'" th:class="${colPrefix} + ${curColumn}"><a th:href="@{${mainLink}(sort=${curColumn}, direction=(${sortBy}==${curColumn} ? (${sortDir}=='ASC' ? 'DESC' : 'ASC') : 'ASC'))}"><span th:text="#{${messagePrefix} + ${curColumn}}"></span><i th:class="(${sortBy}==${curColumn}) ? 'bi ' + (${sortDir}=='DESC' ? 'bi-sort-up' : 'bi-sort-down') + ' ms-2' : 'hidden'"></i></a></th>
                <th th:with="curColumn='message'" th:class="${colPrefix} + ${curColumn}"><a th:href="@{${mainLink}(sort=${curColumn}, direction=(${sortBy}==${curColumn} ? (${sortDir}=='ASC' ? 'DESC' : 'ASC') : 'ASC'))}"><span th:text="#{${messagePrefix} + ${curColumn}}"></span><i th:class="(${sortBy}==${curColumn}) ? 'bi ' + (${sortDir}=='DESC' ? 'bi-sort-up' : 'bi-sort-down') + ' ms-2' : 'hidden'"></i></a></th>
              </tr>
            </thead>
            <tr th:if="${itemsPage.totalPages == 0}"><td colspan="6" th:text="#{message.data.absent}" /></tr>
            <tr th:if="${itemsPage.totalPages > 0}" th:each="item: ${itemsPage}">
              <td th:with="curColumn='id'" th:class="${colPrefix} + ${curColumn} + ' fit-content'"><i th:title="*{__${'item.' + curColumn}__}" th:class="'bi bi-info-square text-primary fs-2 ps-0'"></i></td>
              <td th:with="curColumn='user', curSubFieldMethod='getUsername()'" th:class="${colPrefix} + ${curColumn}" th:text="${__${'item.' + curColumn}__.__${curSubFieldMethod}__}" />
              <td th:with="curColumn='notificationType'" th:class="${colPrefix} + ${curColumn}" th:text="*{__${'item.' + curColumn}__}" />
              <td th:with="curColumn='status'" th:class="${colPrefix} + ${curColumn}" th:text="*{__${'item.' + curColumn}__}" />
              <td th:with="curColumn='dateTime'" th:class="${colPrefix} + ${curColumn}" th:text="${#temporals.format(__${'item.' + curColumn}__, 'dd-MM-yyyy HH:mm:ss')}" />
              <td th:with="curColumn='subject'" th:class="${colPrefix} + ${curColumn}" th:text="*{__${'item.' + curColumn}__}" />
              <td th:with="curColumn='message'" th:class="${colPrefix} + ${curColumn}" th:text="*{__${'item.' + curColumn}__}" />
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- Just table stop -->
    <!-- Paginator start -->
    <div th:replace="fragments/list :: paginator"></div>
    <!-- Paginator stop -->
  </div>
</div>
<div th:replace="fragments/footer :: commonFooter"></div>
</body>
</html>