<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:with="pageTitle='Профиль', pageHeader=${pageTitle}">
<head>
  <th:block th:replace="fragments/header :: commonHead"></th:block>
  <!-- other elements you want to reference in your layout -->
</head>
<body>
<div th:replace="fragments/header :: commonHeader"></div>
<div class="main-wrapper">
  <div class="container">
    <form class="form-register row row-cols-lg-auto g-3 align-items-center"  th:object="${userForm}" th:action="'/admin/users/save'" method="post">
      <h1 class="h3" th:text="${pageHeader}"></h1>
      <div class="col-12" th:if="${formErrorMessage}">
        <div class="alert alert-danger mb-0" th:text="${formErrorMessage}">Info!</div>
      </div>
      <div class="col-12">
        <label class="form-label" th:for="username" th:text="Логин"></label>
        <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{username}" placeholder="Логин" />
        <span th:if="${#fields.hasErrors('username')}" th:errorclass="invalid-feedback" th:errors="*{username}" autofocus="true" />
      </div>
      <div class="col-12">
        <label class="form-label" th:for="password" th:text="Пароль"></label>
        <input class="form-control" th:errorclass="is-invalid" type="password" th:field="*{password}" placeholder="Пароль" />
      </div>
      <div class="col-12">
        <label class="form-label" th:for="passwordConfirm" th:text="'Подтверждение пароля'"></label>
        <input class="form-control" th:errorclass="is-invalid" type="password" th:field="*{passwordConfirm}" placeholder="Подтверждение пароля" />
        <span th:if="${#fields.hasErrors('password')}" th:errorclass="invalid-feedback" th:errors="*{password}" />
      </div>
      <div class="col-12">
        <label class="form-label" th:for="nickname" th:text="Ник"></label>
        <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{nickname}" placeholder="Ник" />
        <span th:if="${#fields.hasErrors('nickname')}" th:errorclass="invalid-feedback" th:errors="*{nickname}" />
      </div>
      <div class="col-12">
        <label class="form-label" th:for="phone" th:text="Телефон"></label>
        <input class="form-control" th:errorclass="is-invalid" type="tel" th:field="*{phone}" placeholder="Телефон" />
        <span th:if="${#fields.hasErrors('phone')}" th:errorclass="invalid-feedback" th:errors="*{phone}" />
      </div>
      <div class="col-12">
        <label class="form-label" th:for="email" th:text="E-mail"></label>
        <input class="form-control" th:errorclass="is-invalid" type="email" th:field="*{email}" placeholder="E-mail" />
        <span th:if="${#fields.hasErrors('email')}" th:errorclass="invalid-feedback" th:errors="*{email}" />
      </div>
      <div class="col-12">
        <div th:each="role: ${listRoles}" class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" th:for="roles" th:text="${role.label}"></label>
        </div>
      </div>
      <div class="col-12">
        <textarea class="form-control" th:errorclass="is-invalid" type="email" th:field="*{description}" placeholder="Описание"></textarea>
        <span th:if="${#fields.hasErrors('description')}" th:errorclass="error" th:errors="*{description}" />
      </div>
      <div class="col-12">
        <input class="form-check-input" type="checkbox" th:field="*{enabled}" />
        <label class="form-check-label" th:for="${#ids.prev('enabled')}" th:text="Активен"></label>
      </div>
      <div class="col-12 text-center form-buttons">
        <input type="hidden" th:field="*{id}" />
        <button class="btn btn-primary btn-block" type="submit">Сохранить</button>
      </div>
    </form>
  </div>
</div>
<div th:replace="fragments/footer :: commonFooter"></div>
</body>
</html>