<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
      http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
      http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      th:with="pageTitle='Управление пользователями', pageHeader=${pageTitle}">
<head>
  <th:block th:replace="fragments/header :: commonHead"></th:block>
  <!-- other elements you want to reference in your layout -->
</head>
<body>
<div th:replace="fragments/header :: commonHeader"></div>
<div class="main-wrapper">
  <div class="container">
    <div class="row g-3"><div class="col-12"><a class="btn btn-outline-primary" href="/">На главную</a></div></div>
    <div class="row g-3">
      <div class="col text-center">
        <table class="table">
          <thead>
            <th>ID</th>
            <th>Логин</th>
            <th>Ник</th>
            <th>E-mail</th>
            <th>Телефон</th>
            <th>Роли</th>
            <th>Действия</th>
          </thead>
          <tr th:each="user: ${allUsers}">
            <td th:text="${user.id}" />
            <td th:text="${user.username}" />
            <td th:text="${user.nickname}" />
            <td th:text="${user.email}" />
            <td th:text="${user.phone}" />
            <td>
              <span th:each="role: ${user.roles}" th:text="${role.name}+';'" />
            </td>
            <td>
              <form action="/admin/users" method="post">
                <input type="hidden" name="userId" th:value="${user.id}"/>
                <input type="hidden" name="action" value="delete"/>
                <button class="btn btn-danger btn-block" type="submit">Удалить</button>
              </form>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div th:replace="fragments/footer :: commonFooter"></div>
</body>
</html>