<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.ultraq.net.nz/thymeleaf/layout http://www.thymeleaf.org/extras/spring-security"
      th:with="
      pageHeader=#{title.profile},
      appName=${@environment.getProperty('spring.application.name')},
      pageTitle=${(appName!=null ? appName + ' - ' : '') + pageHeader}
      ">
<head>
  <th:block th:replace="fragments/header :: commonHead"></th:block>
  <!-- other elements you want to reference in your layout -->
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="fragments/header :: commonHeader"></div>
<div class="main-wrapper">
  <div class="container">
    <form class="form-profile row row-cols-lg-auto gy-3 align-items-center"  th:object="${userForm}" action="/profile/save" method="post">
      <h1 class="h3" th:text="${pageHeader}"></h1>
      <div th:replace="fragments/header :: messageBlock"></div>
      <div class="col-12">
        <label class="form-label" th:for="username" th:text="#{user.username}"></label>
        <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{username}" th:placeholder="#{user.username}" th:readonly="true" />
        <span th:if="${#fields.hasErrors('username')}" th:errorclass="invalid-feedback" th:errors="*{username}" />
      </div>
      <div class="col-12">
        <label class="form-label" th:for="password" th:text="#{user.password}"></label>
        <input class="form-control" th:errorclass="is-invalid" type="password" th:field="*{password}" th:placeholder="#{user.password}" />
        <span th:if="${#fields.hasErrors('password')}" th:errorclass="invalid-feedback" th:errors="*{password}" autofocus="true" />
      </div>
      <div class="col-12">
        <label class="form-label" th:for="passwordConfirm" th:text="#{user.passwordConfirm}"></label>
        <input class="form-control" th:errorclass="is-invalid" type="password" th:field="*{passwordConfirm}" th:placeholder="#{user.passwordConfirm}" />
        <span th:if="${#fields.hasErrors('passwordConfirm') && !#fields.hasErrors('password')}" th:errorclass="invalid-feedback" th:errors="*{passwordConfirm}" autofocus="true" />
      </div>
      <div class="col-12">
        <label class="form-label" th:for="nickname" th:text="#{user.nickname}"></label>
        <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{nickname}" th:placeholder="#{user.nickname}" />
        <span th:if="${#fields.hasErrors('nickname')}" th:errorclass="invalid-feedback" th:errors="*{nickname}" autofocus="true" />
      </div>
      <div class="col-12">
        <label class="form-label" th:for="phone" th:text="#{user.phone}"></label>
        <input class="form-control form-control-phone" th:errorclass="is-invalid" type="tel" th:field="*{phone}" th:placeholder="#{user.phone}" />
        <span th:if="${#fields.hasErrors('phone')}" th:errorclass="invalid-feedback" th:errors="*{phone}" />
      </div>
      <div class="col-12">
        <label class="form-label" th:for="email" th:text="#{user.email}"></label>
        <input class="form-control" th:errorclass="is-invalid" type="email" th:field="*{email}" th:placeholder="#{user.email}" />
        <span th:if="${#fields.hasErrors('email')}" th:errorclass="invalid-feedback" th:errors="*{email}" />
      </div>
      <div class="col-4 text-center form-buttons">
        <a class="btn btn-primary btn-block" th:href="@{/}" th:text="#{link.cancel}"></a>
      </div>
      <div class="col-4 text-center form-buttons">
        <a class="btn btn-success btn-block" th:href="@{#}" th:onclick="WebPushService.testMySubscription()" th:text="#{link.subscription.test}"></a>
      </div>
      <div class="col-4 text-center form-buttons">
        <button class="btn btn-primary btn-block" type="submit" th:text="#{submit.save}"></button>
      </div>
    </form>
  </div>
</div>
<div th:replace="fragments/footer :: commonFooter"></div>
</body>
</html>