<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.ultraq.net.nz/thymeleaf/layout http://www.thymeleaf.org/extras/spring-security"
      th:with="pageHeader=#{title.usersmanagement},
      appName=${@environment.getProperty('spring.application.name')},
      pageTitle=${(appName!=null ? appName + ' - ' : '') + pageHeader},
      listSearchCriterias=${userListSearchCriterias},
      idsPrefix='adminUsersList',
      mainLink='/admin/users',
      colPrefix='t-col-user',
      messagePrefix = 'user.'
      ">
<head>
  <th:block th:replace="fragments/header :: commonHead"></th:block>
  <!-- other elements you want to reference in your layout -->
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="fragments/header :: commonHeader"></div>
<div class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 gy-3">
        <h1 class="h3" th:text="${pageHeader}"></h1>
      </div>
      <div th:replace="fragments/header :: messageBlock"></div>
    </div>
    <div class="row">
      <div th:class="(${listInSearch} ? 'col-sm-2' : 'col-sm-10') + ' col-6 order-1 text-start gy-3'">
        <a th:title="#{link.add}" class="btn btn-success btn-block" th:href="${mainLink} + '/add'"><i class="bi-plus"></i></a>
      </div>
      <div class="filter-criterias col-sm-8 order-sm-2 order-3 col-12 text-center gy-3" th:if="${listInSearch}">
        <!-- Filter message start -->
        <div th:replace="fragments/list :: filter-message"></div>
        <!-- Filter message stop -->
      </div>
      <div class="col-sm-2 col-6 order-sm-3 order-2 text-end gy-3" th:if="${listSearchCriterias}">
        <!-- Modal filter start -->
        <div th:replace="fragments/list :: filter-button"></div>
        <!-- Modal filter stop -->
      </div>
    </div>
    <!-- Just table start -->
    <div class="row">
      <div class="col gy-0 text-center">
        <div th:id="${idsPrefix} + 'Wrapper'" class="table-responsive">
          <table class="table table-striped align-middle">
            <thead>
              <tr>
                <th th:class="${colPrefix} + 'test-push-message pe-0 fit-content'"></th>
                <th th:class="${colPrefix} + 'test-mail-message pe-0 fit-content'"></th>
                <th th:with="curColumn='id'" th:class="${colPrefix} + ${curColumn} + ' fit-content'"><span th:text="#{${messagePrefix} + ${curColumn}}"></span></th>
                <th th:with="curColumn='username'" th:class="${colPrefix} + ${curColumn}"><a th:href="@{${mainLink}(sort=${curColumn}, direction=(${sortBy}==${curColumn} ? (${sortDir}=='ASC' ? 'DESC' : 'ASC') : 'ASC'))}"><span th:text="#{${messagePrefix} + ${curColumn}}"></span><i th:class="(${sortBy}==${curColumn}) ? 'bi ' + (${sortDir}=='DESC' ? 'bi-sort-up' : 'bi-sort-down') + ' ms-2' : 'hidden'"></i></a></th>
                <th th:with="curColumn='nickname'" th:class="${colPrefix} + ${curColumn}"><a th:href="@{${mainLink}(sort=${curColumn}, direction=(${sortBy}==${curColumn} ? (${sortDir}=='ASC' ? 'DESC' : 'ASC') : 'ASC'))}"><span th:text="#{${messagePrefix} + ${curColumn}}"></span><i th:class="(${sortBy}==${curColumn}) ? 'bi ' + (${sortDir}=='DESC' ? 'bi-sort-up' : 'bi-sort-down') + ' ms-2' : 'hidden'"></i></a></th>
                <th th:with="curColumn='email'" th:class="${colPrefix} + ${curColumn}"><a th:href="@{${mainLink}(sort=${curColumn}, direction=(${sortBy}==${curColumn} ? (${sortDir}=='ASC' ? 'DESC' : 'ASC') : 'ASC'))}"><span th:text="#{${messagePrefix} + ${curColumn}}"></span><i th:class="(${sortBy}==${curColumn}) ? 'bi ' + (${sortDir}=='DESC' ? 'bi-sort-up' : 'bi-sort-down') + ' ms-2' : 'hidden'"></i></a></th>
                <th th:with="curColumn='phone'" th:class="${colPrefix} + ${curColumn}"><a th:href="@{${mainLink}(sort=${curColumn}, direction=(${sortBy}==${curColumn} ? (${sortDir}=='ASC' ? 'DESC' : 'ASC') : 'ASC'))}"><span th:text="#{${messagePrefix} + ${curColumn}}"></span><i th:class="(${sortBy}==${curColumn}) ? 'bi ' + (${sortDir}=='DESC' ? 'bi-sort-up' : 'bi-sort-down') + ' ms-2' : 'hidden'"></i></a></th>
                <th th:with="curColumn='roles'" th:class="${colPrefix} + ${curColumn}" th:text="#{${messagePrefix} + ${curColumn}}"></th>
                <th th:with="curColumn='enabled'" th:class="${colPrefix} + ${curColumn}"><a th:href="@{${mainLink}(sort=${curColumn}, direction=(${sortBy}==${curColumn} ? (${sortDir}=='ASC' ? 'DESC' : 'ASC') : 'ASC'))}"><span th:text="#{${messagePrefix} + ${curColumn}}"></span><i th:class="(${sortBy}==${curColumn}) ? 'bi ' + (${sortDir}=='DESC' ? 'bi-sort-up' : 'bi-sort-down') + ' ms-2' : 'hidden'"></i></a></th>
                <th th:class="${colPrefix} + 'modify fit-content'"></th>
                <th th:class="${colPrefix} + 'delete fit-content'"></th>
              </tr>
            </thead>
            <tr th:if="${itemsPage.totalPages == 0}"><td colspan="11" th:text="#{message.data.absent}" /></tr>
            <tr th:if="${itemsPage.totalPages > 0}" th:each="item: ${itemsPage}">
              <td th:class="${colPrefix} + 'test-push-message text-center pe-0 fit-content'"><a th:title="#{link.subscription.test}" class="btn btn-primary btn-block" th:attr="onclick=${'WebPushService.testUserSubscription(''' + item.username + ''')'}" th:href="@{#}"><i class="bi-chat-left-text-fill"></i></a></td>
              <td th:class="${colPrefix} + 'test-mail-message text-center pe-0 fit-content'"><a th:title="#{link.mail.test}" class="btn btn-primary btn-block" th:attr="onclick=${'testUserMail(''' + item.username + ''')'}" th:href="@{#}"><i class="bi-envelope"></i></a></td>
              <td th:with="curColumn='id'" th:class="${colPrefix} + ${curColumn} + ' fit-content'"><i th:title="*{__${'item.' + curColumn}__}" th:class="'bi bi-info-square text-primary fs-2 ps-0'"></i></td>
              <td th:with="curColumn='username'" th:class="${colPrefix} + ${curColumn}" th:text="*{__${'item.' + curColumn}__}" />
              <td th:with="curColumn='nickname'" th:class="${colPrefix} + ${curColumn}" th:text="*{__${'item.' + curColumn}__}" />
              <td th:with="curColumn='email'" th:class="${colPrefix} + ${curColumn}" th:text="*{__${'item.' + curColumn}__}" />
              <td th:with="curColumn='phone'" th:class="${colPrefix} + ${curColumn}" th:text="*{__${'item.' + curColumn}__}" />
              <td th:with="curColumn='roles', curSubField='label'" th:class="${colPrefix} + 'roles'"><span th:utext="${#strings.arrayJoin(__${'item.' + curColumn}__.![__${curSubField}__], ',<br />')}" th:remove="tag"></span></td>
              <td th:with="curColumn='enabled'" th:class="${colPrefix} + ${curColumn}"><i th:title="${__${'item.' + curColumn}__} ? #{__${messagePrefix}__ + __${curColumn}__ + '.yes'} : #{__${messagePrefix}__ + __${curColumn}__ + '.no'}" th:class="'bi ' + (${__${'item.' + curColumn}__} ? 'bi-lightbulb-fill text-success' : 'bi-lightbulb-fill text-danger') + ' ms-2'"></i></td>
              <td th:class="${colPrefix} + 'modify pe-0 text-end fit-content'"><a th:title="#{link.modify}" class="btn btn-success btn-block" th:href="@{${mainLink} + '/modify/'+${item.id}}"><i class="bi-pen"></i></a></td>
              <td th:with="curColumn='username'" th:class="${colPrefix} + 'delete text-start fit-content'">
                <form th:action="${mainLink} + '/delete'"
                      method="post"
                      th:data-name="*{__${'item.' + curColumn}__}"
                      th:onsubmit="'return confirm(\'' + #{confirm.delete} + ' \' + this.getAttribute(\'data-name\')+\'?\');'">
                  <input type="hidden" name="objId" th:value="${item.id}"/>
                  <button th:title="#{submit.delete}" class="btn btn-danger btn-block" type="submit"><i class="bi-trash"></i></button>
                </form>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- Just table stop -->
    <!-- Paginator start -->
    <div th:replace="fragments/list :: paginator"></div>
    <!-- Paginator stop -->
  </div>
</div>
<div th:replace="fragments/footer :: commonFooter"></div>
</body>
</html>