<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="pageHeader=#{title.usersmanagement},
      appName=${@environment.getProperty('spring.application.name')},
      pageTitle=${(appName!=null ? appName + ' - ' : '') + pageHeader}
      ">
<head>
  <th:block th:replace="fragments/header :: commonHead"></th:block>
  <!-- other elements you want to reference in your layout -->
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="fragments/header :: commonHeader"></div>
<div class="main-wrapper" th:with="idsPrefix='adminUsersList'">
  <div class="container">
    <div class="row">
      <div class="col-12 gy-3">
        <h1 class="h3" th:text="${pageHeader}"></h1>
      </div>
      <div th:replace="fragments/header :: messageBlock"></div>
      <div th:class="(${userListSearchCriterias} ? 'col-3' : 'col-12') + ' text-start gy-3'">
        <a th:title="#{link.add}" class="btn btn-success btn-block" th:href="'/admin/users/add'"><i class="bi-plus"></i></a>
      </div>
      <div class="filter-criterias col-6 text-center gy-3" th:if="${userListSearchCriterias}">
        <span th:text="${userListInSearch} ? #{message.filtered} + ':' : ''">
        </span><span class="ps-1 filter-criteria"
              th:each="searchCriteria: ${userListSearchCriterias}"
              th:if="${searchCriteria.getValue() != ''}"
              th:with="filterFieldNamePostfix=${searchCriteria.getKey()}, filterFieldNamePrefix='user'"
              th:text="#{${filterFieldNamePrefix} + '.' + ${filterFieldNamePostfix}} + '=' + ${searchCriteria.getValue()}">
        </span>
      </div>
      <div class="col-3 text-end gy-3" th:if="${userListSearchCriterias}">
        <!-- Modal filter start -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:title="#{link.filter}" th:data-bs-target="'#' + ${idsPrefix} + 'FilterFormWrapper'"><i class="bi-filter-circle-fill"></i></button>
        <div class="modal fade" th:id="${idsPrefix} + 'FilterFormWrapper'" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" th:aria-labelledby="${idsPrefix} + 'FilterFormWrapperLabel'" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <form action="/admin/users/" method="get" th:id="${idsPrefix} + 'FilterForm'" th:with="filterFieldNamePrefix='user'">
                <div class="modal-header">
                  <h5 class="modal-title" th:id="${idsPrefix} + 'FilterFormWrapperLabel'" th:text="#{title.filter}">My title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" th:aria-label="#{link.close}"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div th:each="searchCriteria: ${userListSearchCriterias}" class="col-12 mb-2 text-start" th:with="filterFieldNamePostfix=${searchCriteria.getKey()}">
                      <label class="form-label" th:for="'filter-' + ${filterFieldNamePrefix} + '-' + ${filterFieldNamePostfix}" th:text="#{${filterFieldNamePrefix} + '.' + ${filterFieldNamePostfix}}"></label>
                      <input class="form-control" th:value="${searchCriteria.getValue()}" th:name="'filter-' + ${filterFieldNamePrefix} + '-' + ${filterFieldNamePostfix}" th:id="'filter-' + ${filterFieldNamePrefix} + '-' + ${filterFieldNamePostfix}" th:placeholder="#{${filterFieldNamePrefix} + '.' + ${filterFieldNamePostfix}}" />
                    </div>
                  </div>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="submit" value="reset" th:name="'filter-' + ${filterFieldNamePrefix} + '-submit'" class="btn btn-secondary" th:text="#{link.reset}">Reset</button>
                  <button type="submit" value="submit" th:name="'filter-' + ${filterFieldNamePrefix} + '-submit'" class="btn btn-primary" th:text="#{link.apply}">Apply</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Modal filter stop -->
      </div>
    </div>
    <div class="row">
      <div class="col gy-0 text-center">
        <div th:id="${idsPrefix} + 'Wrapper'" class="table-responsive">
          <table class="table table-striped align-middle">
            <thead>
              <tr>
                <th class="t-col-user-test-message"></th>
                <th th:with="curColumn='id'" th:class="'t-col-user-' + ${curColumn}"><a th:href="@{'/admin/users'(sort='id')}"><span th:text="#{user.id}"></span><i th:class="(${sortBy}==${curColumn}) ? 'bi bi-sort-down ms-2' : 'hidden'"></i></a></th>
                <th th:with="curColumn='username'" th:class="'t-col-user-' + ${curColumn}"><a th:href="@{'/admin/users'(sort=${curColumn})}"><span th:text="#{user.username}"></span><i th:class="(${sortBy}==${curColumn}) ? 'bi bi-sort-down ms-2' : 'hidden'"></i></a></th>
                <th th:with="curColumn='nickname'" th:class="'t-col-user-' + ${curColumn}"><a th:href="@{'/admin/users'(sort=${curColumn})}"><span th:text="#{user.nickname}"></span><i th:class="(${sortBy}==${curColumn}) ? 'bi bi-sort-down ms-2' : 'hidden'"></i></a></th>
                <th th:with="curColumn='email'" th:class="'t-col-user-' + ${curColumn}"><a th:href="@{'/admin/users'(sort=${curColumn})}"><span th:text="#{user.email}"></span><i th:class="(${sortBy}==${curColumn}) ? 'bi bi-sort-down ms-2' : 'hidden'"></i></a></th>
                <th th:with="curColumn='phone'" th:class="'t-col-user-' + ${curColumn}"><a th:href="@{'/admin/users'(sort=${curColumn})}"><span th:text="#{user.phone}"></span><i th:class="(${sortBy}==${curColumn}) ? 'bi bi-sort-down ms-2' : 'hidden'"></i></a></th>
                <th th:with="curColumn='roles'" th:class="'t-col-user-' + ${curColumn}" th:text="#{user.roles}"></th>
                <th th:with="curColumn='enabled'" th:class="'t-col-user-' + ${curColumn}"><a th:href="@{'/admin/users'(sort=${curColumn})}"><span th:text="#{user.enabled}"></span><i th:class="(${sortBy}==${curColumn}) ? 'bi bi-sort-down ms-2' : 'hidden'"></i></a></th>
                <th class="t-col-user-modify"></th>
                <th class="t-col-user-delete"></th>
              </tr>
            </thead>
            <tr th:if="${itemsPage.totalPages == 0}"><td colspan="10" th:text="#{message.data.absent}" /></tr>
            <tr th:if="${itemsPage.totalPages > 0}" th:each="user: ${itemsPage}">
              <td class="t-col-user-test-message text-center"><a th:title="#{link.subscription.test}" class="btn btn-primary btn-block" th:attr="onclick=${'WebPushService.testUserSubscription(''' + user.username + ''')'}" th:href="@{#}"><i class="bi-chat-left-text-fill"></i></a></td>
              <td th:class="'t-col-user-id'" th:text="${user.id}" />
              <td th:class="'t-col-user-username'" th:text="${user.username}" />
              <td th:class="'t-col-user-nickname'" th:text="${user.nickname}" />
              <td th:class="'t-col-user-email'" th:text="${user.email}" />
              <td th:class="'t-col-user-phone'" th:text="${user.phone}" />
              <td th:class="'t-col-user-roles'"><span th:utext="${#strings.arrayJoin(user.roles.![label], ',<br />')}" th:remove="tag"></span></td>
              <td th:class="'t-col-user-enabled'" th:text="${user.enabled} ? #{user.enabled.yes} : #{user.enabled.no}" />
              <td class="t-col-user-modify pe-0 text-end"><a th:title="#{link.modify}" class="btn btn-success btn-block" th:href="@{'/admin/users/modify/'+${user.id}}"><i class="bi-pen"></i></a></td>
              <td class="t-col-user-delete text-start">
                <form action="/admin/users/delete"
                      method="post"
                      th:data-username="${user.username}"
                      th:onsubmit="'return confirm(\'' + #{confirm.delete} + ' \' + this.getAttribute(\'data-username\')+\'?\');'">
                  <input type="hidden" name="userId" th:value="${user.id}"/>
                  <button th:title="#{submit.delete}" class="btn btn-danger btn-block" type="submit"><i class="bi-trash"></i></button>
                </form>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row" th:if="${itemsPage.totalPages > 0}">
      <div class="col-12 gy-3">
        <ul class="pagination pagination-sm justify-content-center flex-wrap">
          <li th:class="'page-item' + ${itemsPage.number <= 0 ? ' disabled' : ''}">
            <a th:text="#{link.first}" th:class="page-link" th:href="@{/admin/users(page=1)}"></a>
          </li>
          <li th:class="'page-item' + ${itemsPage.number <= 0 ? ' disabled' : ''}">
            <a th:text="#{link.prev}" th:class="page-link" th:href="@{/admin/users(page=${itemsPage.number})}"></a>
          </li>
          <li th:class="${pageNumber==itemsPage.number + 1} ? 'page-item active' : 'page-item'" th:each="pageNumber : ${pageNumbers}">
            <a th:text="${pageNumber}" th:class="page-link" th:href="@{/admin/users(page=${pageNumber})}"></a>
          </li>
          <li th:class="'page-item' + ${itemsPage.number + 1 >= itemsPage.totalPages ? ' disabled' : ''}">
            <a th:text="#{link.next}" th:class="page-link" th:href="@{/admin/users(page=${itemsPage.number}+2)}"></a>
          </li>
          <li th:class="'page-item' + ${itemsPage.number + 1 >= itemsPage.totalPages ? ' disabled' : ''}">
            <a th:text="#{link.last}" th:class="page-link" th:href="@{/admin/users(page=${itemsPage.totalPages})}"></a>
          </li>
        </ul>
      </div>
      <div class="col-12 text-center" th:text="#{list.records.of.total(
          ${itemsPage.number} * ${itemsPage.size} +1,
          ${itemsPage.number} * ${itemsPage.size} +10 > ${itemsPage.getTotalElements()} ? ${itemsPage.getTotalElements()} : ${itemsPage.number} * ${itemsPage.size} +10,
          ${itemsPage.getTotalElements()}
          )}">
      </div>
    </div>
  </div>
</div>
<div th:replace="fragments/footer :: commonFooter"></div>
</body>
</html>