<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.ultraq.net.nz/thymeleaf/layout http://www.thymeleaf.org/extras/spring-security"
>
<head>
</head>
<body>
<th:block th:fragment="commonFooter">
    <footer class="mt-auto">
      <div class="container">
         <div class="row">
            <div class="col-12 text-center py-3" th:text="
            (${@environment.getProperty('spring.application.copyright.designed-by')} ? 'Designed by ' + ${@environment.getProperty('spring.application.copyright.designed-by')} + ' ' : '')
            + '&copy; ' + ${@environment.getProperty('spring.application.copyright.year-start')}
            + '-' + ${@environment.getProperty('spring.application.copyright.year-stop')}
            + ' ' + ${@environment.getProperty('spring.application.copyright.name')}">&copy; 2022 My Firm</div>
          </div>
        </div>
    </footer>
</th:block>
</body>
</html>