<th:block th:fragment="commonHead">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8"/>
  <title th:text="${pageTitle}">Template title</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <script type="text/javascript" src="/js/main.js"></script>
  <!-- metas, link and scripts -->
</th:block>

<th:block th:fragment="commonHeader">
</th:block>