<th:block th:fragment="commonHead">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8"/>
  <title th:text="${pageTitle}">Template title</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-utilities.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-icons.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <!-- metas, link and scripts -->
</th:block>

<th:block th:fragment="commonHeader">
  <header class="sticky-top bg-primary">
    <div class="container">
      <div class="row"><div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container-fluid">
            <a class="navbar-brand" th:title="#{link.homepage}" href="/"><i class="bi-house"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" th:attr="aria-label=#{title.navigation}">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li sec:authorize="hasRole('ADMIN')" class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" th:text="#{link.administration}"
                     href="#" id="navbarAdminDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                  <ul class="dropdown-menu" aria-labelledby="navbarAdminDropdownMenuLink">
                    <li><a class="dropdown-item" href="/admin/users" th:text="#{link.users}"></a></li>
                  </ul>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                  <a class="nav-link" href="/registration" th:text="#{link.registration}"></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                  <a class="nav-link" href="/profile" th:text="#{link.profile}"></a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                  <a class="nav-link" href="/login" th:text="#{link.login}"></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                  <a class="nav-link" href="/logout" th:text="#{link.logout}"></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        </div>
      </div>
    </div>
  </header>
</th:block>