body {

}
header{

}
.main-wrapper {

}
.form-signin,
.form-register,
.form-profile{
    max-width: 100%;
    width: 560px;
    margin: 0 auto;
}
.filter-criteria:not(:last-child):after{
    content: ","
}
.table td.fit-content,
.table th.fit-content {
    white-space: nowrap;
    width: 1%;
}
