body {

}
header{

}
.main-wrapper {

}
.form-signin,
.form-register,
.form-profile{
    max-width: 100%;
    width: 560px;
    margin: 0 auto;
}
.filter-criteria:not(:last-child):after{
    content: ","
}