<!DOCTYPE html>
<html lang="en" th:with="pageTitle=${status} + ' - ' + ${message}">
<head>
    <th:block th:replace="fragments/header :: commonHead"></th:block>
    <!-- other elements you want to reference in your layout -->
</head>
<body>
<div th:replace="fragments/header :: commonHeader"></div>
<div class="main-wrapper">
    <div class="list-row">
        <table>
            <tr><td>Error Message</td><td th:text="${message}"></td></tr>
            <tr><td>Status Code</td><td th:text="${status}"></td></tr>
            <tr sec:authorize="isAuthenticated()"><td>Exception</td><td th:text="${exception}"></td></tr>
            <tr sec:authorize="isAuthenticated()"><td>Stacktrace</td><td><pre th:text="${trace}"></pre></td></tr>
            <tr sec:authorize="isAuthenticated()"><td>Binding Errors</td><td th:text="${errors}"></td></tr>
        </table>
    </div>
    <div class="link-row">
        <a href="/"><<< На главную</a>
    </div>
</div>
<div th:replace="fragments/footer :: commonFooter"></div>
</body>
</html>