<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      th:with="pageTitle=${status} + ' - ' + ${message}">
<head>
    <th:block th:replace="fragments/header :: commonHead"></th:block>
    <!-- other elements you want to reference in your layout -->
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="fragments/header :: commonHeader"></div>
<div class="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 my-5 text-center" th:if="${status}==403">
                <i style="font-size:144pt; color:red;" class="bi bi-sign-stop-fill"></i>
                <h3>Forbidden</h3>
            </div>
            <div class="col-12 my-5 text-center" th:if="${status}==404">
                <i style="font-size:144pt; color:red;" class="bi bi-emoji-frown-fill"></i>
                <h3>Not found</h3>
            </div>
            <div class="col-12 my-3" th:if="${status!=403 and status !=404}">
                <table class="table my-3">
                    <tr><th>Error Message</th><td th:text="${message}"></td></tr>
                    <tr><th>Status Code</th><td th:text="${status}"></td></tr>
                    <tr sec:authorize="isAuthenticated()"><th>Exception</th><td th:text="${exception}"></td></tr>
                    <tr sec:authorize="isAuthenticated()"><th>Stacktrace</th><td><pre th:text="${trace}"></pre></td></tr>
                    <tr sec:authorize="isAuthenticated()"><th>Binding Errors</th><td th:text="${errors}"></td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: commonFooter"></div>
</body>
</html>