<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
      http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
      http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      th:with="pageTitle=#{index.welcome}, pageHeader=${pageTitle}">
<head>
  <th:block th:replace="fragments/header :: commonHead"></th:block>
  <!-- other elements you want to reference in your layout -->
</head>
<body>
<div th:replace="fragments/header :: commonHeader"></div>
<div class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col g-3 text-center">
        <h1 class="h3" th:text="${pageHeader}"></h1>
        <div sec:authorize="isAuthenticated()" th:remove="tag">
          <h3 class="h4">Hi, <span sec:authentication="name"></span> !</h3>
        </div>
        <fieldset class="border p-2 my-3">
          <legend>Test links</legend>
          <h4><a href="/profile">Profile (users only)</a></h4>
          <h4><a href="/admin/users">Users (admin only)</a></h4>
        </fieldset>
      </div>
    </div>
  </div>
</div>
<div th:replace="fragments/footer :: commonFooter"></div>
</body>
</html>