<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:with="pageTitle=#{title.login}, pageHeader=${pageTitle}">
<head>
  <th:block th:replace="fragments/header :: commonHead"></th:block>
  <!-- other elements you want to reference in your layout -->
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="fragments/header :: commonHeader"></div>
<div class="main-wrapper">
  <div class="container">
    <form class="form-signin row row-cols-lg-auto g-3 align-items-center" method="post" action="/login">
      <h1 class="h3" th:text="${pageHeader}"></h1>
      <div class="col-12">
        <input name="username" class="form-control" type="text" th:placeholder="#{user.username}"
             autofocus="true"/>
      </div>
      <div class="col-12">
        <input name="password" class="form-control" type="password" th:placeholder="#{user.password}"/>
      </div>
      <div class="col-12">
        <input class="form-check-input" type="checkbox" name="remember-me" id="remember-me" />
        <label class="form-check-label" for="remember-me" th:text="#{user.remember-me}"></label>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col text-center form-buttons">
            <button class="btn btn-primary btn-block" type="submit" th:text="#{submit.login}"></button>
          </div>
          <div class="col text-center form-buttons">
              <a class="btn btn-primary btn-block" href="/registration" th:text="#{link.register}"></a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div th:replace="fragments/footer :: commonFooter"></div>
</body>
</html>